body {
	background: url(./../images/index.jpg) center no-repeat;
	height: 100vh;
	background-size: cover;
    font-family: Arial, sans-serif;
}

*{
	font-family: sans-serif;
	box-sizing: border-box;
}

form {
	
	background: transparent;
    border: 2px solid #fff5f5;
    padding: 20px;
    background-color: #fff;
    max-width: 420px;
    margin: 50px auto;
    border-radius: 10px;
    height: 420px;
}

h2 {
	text-align: center;
	margin-bottom: 40px;
}

input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}
label {
	color: #888;
	font-size: 15px;
	padding: 10px;
}

button {
	float: right;
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
}
button:hover{
	opacity: .7;
	cursor: pointer;
}
.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

.success {
   background: #D4EDDA;
   color: #40754C;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
	text-align: center;
	color: #fff;
}

.ca {
	font-size: 14px;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: #444;
}
.ca:hover {
	text-decoration: underline;
} 
.form_signup{
	height: 550px;
}